.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #d6d6d6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #dbdbdb;
  text-decoration: none;
}
.buttondiv{
    padding-left: 20px;
    display: block;
    
}