@charset "utf-8";
/* http://techneblog.com/article/creating-responsive-multiple-column-list */
h1{
    font-size: 1.5em; /* 25px/16px */
}
#content       
{
    font-size: .75em; /* 12/16 */
    width:  71.875%; /* 650/960 */
    max-width: 960px;
    text-align: left;
    margin: 0px auto; /*auto centers the container */
    padding: 3.84615384615385%;  /* 25/650 */

}
#BOX{



}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */   
.columns
{   
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}


.line-separator{

    height:1px;

    background:#717171;

    border-bottom:1px solid #313030;

}
.Bracket:hover{
    background-color:#ededed;
}
.Bracket{
    background-color:#ffffff;
    -o-transition:color .2s ease-out, background .2s ease-in;
    -ms-transition:color .2s ease-out, background .2s ease-in;
    -moz-transition:color .2s ease-out, background .2s ease-in;
    -webkit-transition:color .2s ease-out, background .2s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background .1s ease-in;
}
body{
    font-family: 'Nunito', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #d6d6d6;
  padding: 10
      px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #dbdbdb;
  text-decoration: none;
}

.buttondiv{
    display: block;
    padding-left: 20px
}

h1{
    font-family: 'Nunito', sans-serif;
    
}

body {
    font-size: 10px;
    background-color: #b2ccd2;

}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/* Component CSS */

.calendar{
    background: #eee;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 9;
}

.calendar > div {
    display: inline-block;
    margin: 0 10px;
}

.calendar.hidden{
    display: none;
}

.calendar .navWrapper > span {
    cursor: pointer;
}

.calendar .month > table td.active, .calendar .month > table td.selected{
    background-color: #FBFBFB;
    cursor: pointer;
}

.calendar .month > table td.selected{
    background-color: #ccc;
}

.calendar .month > table td.disabled{
    opacity: 0.7;
    text-decoration: line-through;
    cursor: not-allowed;
    color: #888;
}

.calendar .closeWidget{
    display: block;
    text-align: right;
    font-size: 12px;
}

.calendar .closeWidget p{
    cursor: pointer;
}